@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main: #cd002b;
    --main-dark: #ad0528;
    --red-border: hsl(0 100% 89.8%);
    --red-ring: hsl(0 100% 63.9%);
    --danger: #e63913;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 92.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 63.9% / 0.03;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;

      --main: #e01d47;
      --main-dark: #d11138;
      --red-border: hsl(0 100% 89.8%);
      --red-ring: hsl(0 100% 63.9%);
      --danger: #e63913;

      --background: 0 0% 5.9%;
      --foreground: 0 0% 88%;

      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;

      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;

      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;

      --border: 0 0% 17.9%;
      --input: 0 0% 14.9%;

      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;

      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;

      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 85.7% 97.3%;

      --ring: 0 0% 14.9%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html,
body {
  height: 100%;
  scrollbar-gutter: stable;
}
